@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Thunder';
    src: url('../fonts/Thunder-BoldLC.woff2') format('woff2'),
        url('../fonts/Thunder-BoldLC.woff') format('woff'),
        url('../fonts/Thunder-BoldLC.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@import "tailwindcss";


@theme{
  --color-offwhite: #F6F6F6;
  --color-offwhite2: #D7D7D7;
  --color-primary: #0F4ABE;
  --color-gray: #404040;
  --color-gray2: #3F3F3F;
  --color-gray3: #4B5563;
  ---color-black: #000;
  --color-black2: #090909;
  --color-black3: #0A0A0A;

  --font-thunder: "Thunder", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}






html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1535px;
  width: 100%;
  margin: auto;
  padding-inline: 20px;
}




@layer base {
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
}



.section-padding {
  padding-block: 136px;
}

@media (max-width:1024px) {
  .section-padding {
    padding-block: 100px;
  }
}

@media (max-width:640px) {
  .section-padding {
    padding-block: 60px;
  }
  .container {
    padding-inline: 16px;
  }
}



/* =========================
   CSS RESET / BASE
========================= */

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & padding */

/* HTML & body */
body {
  height: 100%;
  font-family: "Inter Tight", sans-serif;
  overflow-x: hidden;
}

/* font family */
.inter-tight {
  font-family: "Inter Tight", sans-serif;
}

.thunder{
  font-family: "Thunder", sans-serif;
}
.jakarta{
  font-family: "Plus Jakarta Sans", sans-serif;
}


/* Remove link underline */
a {
  text-decoration: none;
}

/* Images responsive */
img,
picture,
video,
canvas {
  max-width: 100%;
  display: block;
}

/* Form elements inherit font */


/* Button cursor */
button {
  cursor: pointer;
}

/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* main css */
.stroke-text{
  -webkit-text-stroke: 2px var(--color-primary);
}


.mask-wrap {
  display: inline-block;
  overflow: hidden;
  height: 1.5em; /* match text height */
}

.mask-track {
  display: flex;
  flex-direction: column;
}

.mask-track span {
  display: block;
  line-height: 1.5em;
}


/* smooth scrooll */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


/*  */

  /* Avatar default */
  .avatar {
    @apply opacity-40 scale-75;
  }

  /* Active avatar */
  .splide__slide.is-active .avatar {
    @apply opacity-100 scale-110 ring-4 ring-white shadow-lg;
  }

  /* Show name for active slide */
  .splide__slide.is-active .avatar-name {
    @apply block;
  }

  /* Hide name for inactive slides */
  .splide__slide:not(.is-active) .avatar-name {
    @apply hidden;
  }

  .splide__track--nav > .splide__list > .splide__slide.is-active {
    border: none !important;
  }
#testimonial-slider .splide__slide {
  opacity: 0;
}
#testimonial-slider .splide__slide.is-active {
  opacity: 1;
}

/* Responsive codes */
@media (max-width:1024px) {
  .section-padding {
    padding-block: 100px;
  }
}

@media (max-width:640px) {
  .section-padding {
    padding-block: 60px;
  }
  .container {
    padding-inline: 16px;
  }

@media (max-width:480px) {
  .section-padding {
    padding-block: 40px;
  }

  .container {
    padding-inline: 12px;
  }

  /* .counter-area{
    padding-bottom: 80px;
  } */
}
}